.chatboxhead
  .chatboxtitle
    %i.fa.fa-comments
    %h1
      = @reciever.first_name
  .chatboxoptions
    = link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id
    \&nbsp;&nbsp;
    \#{link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id}
  %br{:clear => "all"}/
.chatboxcontent
  - if @messages.any?
    = render @messages

.chatboxinput
  %form#new_message.new_message{"accept-charset" => "UTF-8", :onsubmit => "return chat_send()", :method => "post"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}
      %textarea#message_body{:name => "message[body]"}
      .button
        %a.send Send message
